.App {
  text-align: center;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: color-change-5x 8s linear infinite alternate both;
}
.title{
  display: flex;
  align-items: center;
}
.small{
  margin: 5px 0px 0px 5px;
}
.basic-form{
  min-width: 30%;
  padding: 30px;
  background-color: #0081B4;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.25rem rgb(11,110,74, 0.219);
}

.success-message{
  display: flex;
  justify-content: center;
  background-color: #03C988;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 0.25rem;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
.error-message{
  color: rgba(255, 0, 0, 0.486);
  font-weight: bold;
}
.btn{
  width: -webkit-fill-available;
  background-color: #03C988;
  border-color: #03C988;
}
.btn:hover{
  background-color: #006e4a;
  border-color: #006e4a;
}
.btn:focus{
  background-color: #006e4a;
  border-color: #006e4a;
  box-shadow: 0 0 0 0.25rem rgb(11,110,74, 0.219);
}
@keyframes color-change-5x {
  0% {
    background: #0A2647;
  }
  25% {
    background: #144272;
  }
  50% {
    background: #205295;
  }
  75% {
    background: #2C74B3;
  }
  100% {
    background: #317fc4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


